@use './variable';

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin center {
  display: grid;
  place-items: center;
}

@mixin abs-tr($top-offset, $right-offset) {
  position: absolute;
  top: $top-offset;
  right: $right-offset;
}

@mixin card($padding: 10px, $background: variable.$white) {
  background: $background;
  padding: $padding;
  box-sizing: border-box;
}
