@use './reset';
@use './variable';
@use './mixin';
@use './app';

.container {
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 150px 250px;
  grid-template-rows: 100px 250px 100px;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

.header {
  grid-area: header;
  background: variable.$navy;
  height: 100px;
}

.sidebar {
  grid-area: sidebar;
  background: variable.$green;
  height: 250px;
}

.main {
  grid-area: main;
  background: variable.$red;
  height: 250px;
}

.footer {
  grid-area: footer;
  background: variable.$brown;
  height: 100px;
}

.header {
  position: relative;

  .header-tools {
    @include mixin.abs-tr(10px, 20px);
    @include mixin.card(10px, variable.$white);
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .square {
    @include mixin.size(40px, 40px);
  }
}

.main {
  .stack {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .card {
    background: variable.$white;
    padding: 5px;
    margin-left: 35px;
    box-sizing: border-box;
  }

  .bar { height: 40px; }
}

.bar {
  width: 140px;
}

.card.is-purple,
.card.is-orange,
.card.is-blue {
  width: 150px;
}

@each $name, $color in zip(variable.$classNames, variable.$buttonColor) {
  .square.#{$name},
  .bar.#{$name} { background: $color; }
}
